# Postgres
POSTGRES_USER=ledger
POSTGRES_PASSWORD=somepassword
POSTGRES_DB=ledger_core

# API
DB_HOST=db
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB_NAME
REDIS_HOST=redis
TB_HOST=tigerbeetle
TB_PORT=3002

# Web
API_ENDPOINT=http://localhost:3001