# Postgres                                                                   
POSTGRES_USER=ledger
POSTGRES_PASSWORD=somepassword
POSTGRES_DB=ledger_core                                                                                                                                                                                    
#API
DB_HOST=dbhost      
REDIS_HOST=redishost

# Web
API_ENDPOINT=endpoint